<?xml version="1.0"?>
<config>
    <modules> 
        <Magalter_Fastlogin>    
            <version>1.0.1</version> 
            <type>free</type>
        </Magalter_Fastlogin>
    </modules>

    <frontend>
        <translate>
            <modules>
                <Magalter_Fastlogin>
                    <files>
                        <default>Magalter_Fastlogin.csv</default>
                    </files>
                </Magalter_Fastlogin>
            </modules>
        </translate>		
    <routers>
        <fastlogin>
            <use>standard</use>
             <args>
                <module>Magalter_Fastlogin</module>
                <frontName>fastlogin</frontName>
             </args>
        </fastlogin>
     </routers>		 
    <layout>
        <updates>
           <fastlogin>
               <file>magalter_fastlogin.xml</file>
           </fastlogin>
        </updates>
    </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Magalter_Fastlogin>
                    <files>
                        <default>Magalter_Ajaxlogin.csv</default>
                    </files>
                </Magalter_Fastlogin>
            </modules>  
	</translate>
	<layout>
            <updates>
		<fastlogin>
                    <file>magalter_fastlogin.xml</file>
		</fastlogin>
            </updates>
	</layout> 
    </adminhtml>

    <global>
        <resources>
            <fastlogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fastlogin_write>
            <fastlogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fastlogin_read>
        </resources> 
        <blocks>
            <fastlogin>
                <class>Magalter_Fastlogin_Block</class>
            </fastlogin>
        </blocks>
	<models>
            <fastlogin>
		<class>Magalter_Fastlogin_Model</class>
            </fastlogin>
	</models>
	<helpers>
            <fastlogin>
                <class>Magalter_Fastlogin_Helper</class>
            </fastlogin>
	</helpers> 
    </global>	
</config>