<?xml version="1.0"?>

<config>
    <modules>
        <Janrain_Share>
            <version>0.1.1</version>
        </Janrain_Share>
    </modules>
    <frontend>
        <secure_url>
            <share>/janrain-share/rpx/</share>
        </secure_url>
        <layout>
            <updates>
                <share>
                    <file>share.xml</file>
                </share>
            </updates>
        </layout>
        <translate>
            <modules>
                <Janrain_Share>
                    <files>
                        <default>Janrain_Share.csv</default>
                    </files>
                </Janrain_Share>
            </modules>
        </translate>
        <routers>
            <share>
                <use>standard</use>
                <args>
                    <module>Janrain_Share</module>
                    <frontName>janrain-share</frontName>
                </args>
            </share>
        </routers>
    </frontend>

    <global>
        <blocks>
            <share>
                <class>Janrain_Share_Block</class>
            </share>
        </blocks>
        <events>
            <admin_system_config_changed_section_share>
                <observers>
                    <share_config_save>
                        <type>singleton</type>
                        <class>Janrain_Share_Model_Observer</class>
                        <method>onConfigSave</method>
                    </share_config_save>
                </observers>
            </admin_system_config_changed_section_share>
        </events>
        <helpers>
            <share>
                <class>Janrain_Share_Helper</class>
            </share>
        </helpers>
    </global>

    <admin>
        <routers>
            <shareadmin>
                <use>admin</use>
                <args>
                    <module>Janrain_Share</module>
                    <frontName>janrain-share-admin</frontName>
                </args>
            </shareadmin>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Janrain_Share>
                    <files>
                        <default>Janrain_Share.csv</default>
                    </files>
                </Janrain_Share>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <share translate="title" module="share">
                                            <title>share</title>
                                        </share>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <share>
            <options>
                <apikey></apikey>
                <enable>1</enable>
                <seamless>0</seamless>
                <path_skin>{{base_skin}}/frontend/janrain</path_skin>
            </options>

			<!-- Set values of global config vars -->
            <vars>
                <realm></realm>
                <adminurl></adminurl>
                <socialpub></socialpub>
            </vars>
        </share>
    </default>

</config>
