 
DIV#ajax_login_wrapper DIV#actions BUTTON{    
    float:right;      
}

DIV#ajax_login_wrapper UL.messages {
    display:none;
    min-height:20px;
    height:auto!important;
}

.fastloginButton {width:85px!important; background: url("../images/ingresar.png") no-repeat center center !important;}


DIV#ajax_login_wrapper {
    
    height: 200px;
   
}

DIV#ajax_login_contents {	
   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
   
    border-radius: 8px 8px 8px 8px;
    border: solid 2px #A4A6A7;
    border-top: none;
    float: right;
    height: 110px !important;
    margin: -10px 0 0 4px;
    min-height: 20px;
    padding: 45px 7px;
    
    position: relative;
    width: 256px;
    z-index: 1;

}

DIV#ajaxlogin_loader_holder{	
    width:350px;
    float:right;
    min-height:20px;
    height:auto!important;
    position:relative;
    z-index:1;
    margin:0;
    padding: 10px;
    background:url("../images/ajaxlog_loader.gif") no-repeat center center;

}

DIV#ajax_login_contents INPUT {		 
    width:120px;
}


DIV#ajax_login_contents DIV DIV {	
    background:none!important;
    padding-left:0!important;
    padding-right:10px!important;
    text-align:left!important;
    margin:0;	
}

DIV#float1, DIV#float2{

    position:relative;		 
    width:128px;
    float:left;
    margin:0;
    text-align:left;	
}


IMG#ajaxlogin_loader_cache {display:block;position:absolute;left:-9999px;}

.actions{padding-left: 55px;
    padding-top: 50px;
    width: 141px;}
.inses{font-weight: bold;
    margin-left: -18px;
    width: 128px;}
